{{#each blogs}}

	<br>
	<div class="blog-content">
		<h1 class="blog-title">{{blogTitle}}</h1>
		<div class="blog-text">{{blogText}}</div>
	</div>

	<div class="blog-footer">
		<img class = "blog-author-pic" src = "{{User.profilePicUrl}}">
		<span class="blog-author-name">Authored By: {{User.name}}</span>
		
		<div class="controls">
			<a class="btn like-btn">Like</a>
		{{#compare User.id "==" ../current_user.id}}
		
			<a class="btn updateBtn" data-blogId="{{id}}" data-blogTitle="{{blogTitle}}" data-blogText="{{blogText}}">Update</a>
		
		
			<a class="btn deleteBtn" data-id="{{id}}">Delete</a>
		
		{{/compare}}
		</div>
	</div>

	{{/each}}
	<div class="modal" id="updateBlog">
       	<div class="modal-background"></div>
       	<div class="modal-card">
         	<header class="modal-card-head">
           		<p class="modal-card-title">Update Blog</p>
           		<button class="delete"></button>
         	</header>
         	<section class="modal-card-body">
           		<form method="POST" action='/api/blogs/update?_method=PUT' id="updateForm">
           	 		<input class="input" type="text" style="display:none" name="id" id="updateId">

             		<div class="field">
               			<label class="label">Blog Title</label>
               			<p class="control">
                 			<input class="input" type="text" id='updateTitle' name="blog_title">
               			</p>
             		</div>

             		<div class="field">
               			<label class="label">Description</label>
               			<p class="control">
                 			<textarea class="textarea"  id='updateText' name='blog_text'></textarea>
               			</p>
             		</div>        
           		</form>
         	</section>
        	<footer class="modal-card-foot">
           		<a class="button is-primary submitUpdate">Submit</a>
        	</footer>
       	</div>
    </div>

<script>

 	$(".delete").click(closeUpdate);

 	$(".submitUpdate").click(function(){
 		$("#updateForm").submit();
 		closeUpdate();
 	});

  $('.updateBtn').each(function () {
    var $this = $(this);
    $this.on("click", function (e) {
 	    e.preventDefault();
      $("#updateId").val($(this).data("blogId"));
  		$("#updateTitle").val($(this).data("blogTitle"));
  		$("#updateText").val($(this).data("blogText"));
    	$("#updateBlog").addClass("is-active");
    });
  });

  function closeUpdate() {
    	$("#updateBlog").removeClass("is-active");
	}

	$(".deleteBtn").each(function () {
    var $this = $(this);
    $this.on("click", function(e) {
      e.preventDefault();
		  var currentBlog = $(this).data("id");
		  $.ajax({
		  	method: "DELETE",
		  	url: "/api/blogs/delete",
		  	data: currentBlog
		  }).done(function(){});

	 });
  });

</script>